.entry {
  border-bottom: 1px solid var(--light-background-colour);
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}

.entry:last-of-type {
  border: none;
}

.entry__bookmark-icon {
  border: none;
  background-color: transparent;
}

.entry__date {
  align-self: center;
  margin-bottom: -1rem;
}

.entry__heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
