@import "./components/Header/Header.css";
@import "./components/Form/Form.css";
@import "./components/Button/Button.css";
@import "./components/EntriesContainer/EntriesContainer.css";
@import "./components/Navigation/Navigation.css";
@import "./components/Entry/Entry.css";
@import "./components/Footer/Footer.css";

:root {
  --highlight-colour: #ff4a11;
  --light-background-colour: #e4e8f0;
  --dark-background-colour: #252629;
  --white-colour: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  color: var(--dark-background-colour);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  min-width: 300px;
  max-width: 500px;
  margin: auto;
}

h2 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 0;
}
